*{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

a{
    text-decoration: none;
    margin-right: 200px;
}

.link{
    padding-top:10px;
}

#t1{
    padding-left: 5px;
    color: darkorange;
    margin-right: 200px;
    font-size: 25px;
}

#searchButton{
    background-color: orange;
}
