body{
    align-items: center;
}
h1{
    text-align: center;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}


.box{
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

