#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading{
  color: brown;
}
.card{
  color: brown;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* grid-template-rows: 2fr 1fr 1fr; */

}
li{
  background-color: blue;
  border: 1px solid white;
  box-shadow:  white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
input{
   flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  margin: 10px;
}