:root{
    --primary: #2563eb;
      --secondary: #1e293b;
    --light: #f8fafc;
      --dark: #0f172a;
    
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
      background: var(--light);
      color: var(--dark);
    }
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding: 15px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    

}
.navlinks{
    width: 100px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    display: flex;
    justify-content: space-evenly;
}
 .nav-links a:hover {
      color: #93c5fd;
    }
 .hero {
      margin-top: 80px;
      padding: 60px 20px;
      text-align: center;
      background: linear-gradient(to right, var(--primary), #60a5fa);
      color: white;
    }

.hero button{
    margin-top: 25px;
      padding: 12px 24px;
      border: none;
      background: white;
      color: var(--primary);
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      transition: transform 0.2s, background-color 0.3s;
}
.hero button:hover{
     background: #e0e7ff;
    box-shadow: 0 10px 20px rgb(66, 66, 66);
}
.hero button:active {
  
     transition: transform 0.2s, background-color 0.3s;
      transform: scale(1.03);
    }
 .hero h1::before {
      content: "🚀 ";
    }
 .cards {
      padding: 50px 30px;
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    .card {
    
      background: white;
      padding: 20px;
      width: 250px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(9, 7, 7, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
      position: relative;
    }
    .card:hover{    
        transform: scale(1.02);
        transition: transform 0.02s;
        box-shadow: 0 10px 20px rgb(46, 45, 45);
    }
    .card h3{
        margin-bottom: 10px;
    }

   footer {
      text-align: center;
      padding: 20px;
      background: var(--secondary);
      color: white;
      margin-top: 50px;
      position: sticky;
    }

    .nav-links{
        width: 25%;
        display: flex;
        justify-content:space-evenly;
    }
    /* navbar direct child is logo and only if we need to can go like .navbar>div */
    .navbar>div{
        margin-left:10px;
    
    }
     
    @media (max-width: 768px) {

      .nav-links{
          display:none;
      }
      /* .logo{
        padding-left:45%;
      } */
      .navbar{
        display: flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        

      }
      
      .cards {
        flex-direction: column;
        align-items: center;
      }
      
      .hero h1 {
        font-size: 26px;
      }
    }

    /* Write base CSS first, media queries AFTER it. */