*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color : white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
    position : relative;
}

.logo{
    /* position : relative;
    top : 5px; */
    height: 50px;
    width: 100%;
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
}

.border{
    border:1px solid transparent;
}

.border:hover{
    border : 2px solid white;
    border-radius: 5px;
}

.address-icon{
    display: flex;
    align-items: center;
}

#deliverTo{
    color : #cccccc;
    font-size: 0.85rem;
    margin-left : 20px;
}

#India {
    color:white;
    font-size: 1rem;
    margin-left : 3px;

}

.nav-search{
    background-color: pink;
    display : flex;
    align-items: center;
    height: 40px;
    width: 620px;
}

.search-select{
    background-color: #f3f3f3;
    height: 40px;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.seach-input{
    height: 40px;
    width: 620px;
    border-top-right-radius: 5px solid transparent;
    border-bottom-right-radius: 5px solid transparent;
    border: none;
}