#box1{
    height: 200px;
    width: 200px;
    background-color: red;
    display: inline-block;
    font-size: 20px;
}


#box2{
    background-color: green;
    height: 50px;
    width: 30%;
    margin-left: 10%;
    font-size: 2rem;
    width: 6rem;
}
