*{
    padding: 0;
    margin: 0;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

a{
    text-decoration: none;
    margin-right: 200px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.link{
    padding-top:10px;
}

#t1{
    padding-left: 5px;
    color: darkorange;
    margin-right: 200px;
    font-size: 25px;
}

#searchButton{
    background-color: orange;
}

.contentBox{
    height: 100px;
    width: 100px;
    background-color: grey;
    border: 1px solid black;
    margin-bottom: 5px;
    display: inline-block;
}

#content{
    height: 600px;
}