body {
  font-family: Arial, sans-serif;
  padding: 40px;
  transition: background 0.3s, color 0.3s;
}

body.light {
  background: white;
  color: black;
}

body.dark {
  background: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
#btn {
  display: block;
}
